#include "resource.h"

// Nexus' Textures_GetOrCreateFromResource looks the image up with FindResource(module, id, "PNG").
IDR_ICON       PNG "../resources/icon.png"
IDR_ICON_HOVER PNG "../resources/icon_hover.png"
